html, body, #__next {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.done {
  opacity: 1;
}

.h1, .h2, .h3, .h4, .h5, .h6, .body1, .body2, .body3 {
  font-family: 'Oxygen', sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

.h1 {
  font-size: 400px;
  letter-spacing: 20px;
  line-height: 1;
}
.h2 {
  font-size: 200px;
  letter-spacing: 10px;
  line-height: 1;
}
.h3 {
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 1;
}
.h4 {
  font-size: 36px;
  letter-spacing: 4px;
  line-height: 1;
}
.h5 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1;
}

.body1 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
}
.body2 {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.8;
}
.body2 p {
  margin-bottom: 24px;
}
.body2 p:last-child {
  margin-bottom: 0;
}

.body3 {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
}

@media screen and (max-width: 1920px) {
  .h1 {
    font-size: 350px;
  }
  .h2 {
    font-size: 180px;
    letter-spacing: 9px;
  }
}

@media screen and (max-width: 1600px) {
  .h1 {
    font-size: 280px;
    letter-spacing: 15px;
  }
  .h2 {
    font-size: 160px;
    letter-spacing: 8px;
  }
}

@media screen and (max-width: 1440px) {
  .h1 {
    font-size: 250px;
    letter-spacing: 13px;
  }
  .h2 {
    font-size: 140px;
    letter-spacing: 7px;
  }
}

@media screen and (max-width: 1366px) {
  .h1 {
    font-size: 230px;
    letter-spacing: 10px;
  }
  .h2 {
    font-size: 120px;
    letter-spacing: 6px;
  }
}

@media screen and (max-width: 1280px) {
  .h1 {
    font-size: 200px;
    letter-spacing: 7px;
  }
  .h2 {
    font-size: 100px;
    letter-spacing: 5px;
  }
  .h5 {
    font-size: 22px;
  }
  .body2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 170px;
  }
  .h2 {
    font-size: 90px;
    letter-spacing: 4px;
  }
  .h3 {
    font-size: 40px;
  }
  .body1 {
    font-size: 16px;
    letter-spacing: 0.8px;
  }
}

@media screen and (max-width: 578px) {
  .h1 {
    font-size: 120px;
    letter-spacing: 6px;
  }
  .h2 {
    font-size: 80px;
    letter-spacing: 3px;
  }
  .h5 {
    font-size: 20px;
  }

  .body1 {
    font-size: 15px;
  }

  .body2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .h1 {
    font-size: 100px;
    letter-spacing: 5px;
  }
}