html, body, #__next {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.h1, .h2, .h3, .h4, .h5, .h6, .body1, .body2, .body3 {
  font-family: 'Oxygen', sans-serif;
}

.h1 {
  font-size: 400px;
  line-height: 1;
  letter-spacing: 20px;
}
.h2 {
  font-size: 200px;
  line-height: 1;
  letter-spacing: 10px;
}
.h3 {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
}
.h4 {
  font-size: 36px;
  line-height: 1;
  letter-spacing: 4px;
}
.h5 {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.07px;
  text-align: center;
  color: #000000;
  
}
.h6 {
  font-size: 72px;
}

.body1 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
}
.body2 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 1px;
}
.body2 p {
  margin-bottom: 24px;
}
.body2 p:last-child {
  margin-bottom: 0;
}


.body3 {
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: normal;
}

.display1 {
  font-size: 72px;
}
.display2 {
  font-size: 72px;
}
